body{
    margin: 0;
    padding: 0;
    background: url(../images/home.svg);
    background-size: cover;
    font-family: sans-serif;
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px  ;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
}

.registerBox{
    position: absolute;
    top: 55%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 350px;
    height: 650px;
    padding: 70px 40px  ;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
}
.user{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-150px/2);
    left: calc(50% - 75px);

}

h2{
    margin: 0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}

.loginBox p,.registerBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginBox input,.registerBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="file"],
.loginBox input[type="password"],
.registerBox input[type="text"],
.registerBox input[type="password"]{
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder{
    color: rgba(255, 255, 255, .5);
}

.loginBox input[type="submit"],
.registerBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover,
.registerBox input[type="submit"]:hover{
    background: #111b47d8;
    color: aqua;
}
